<div class="container">
  
  <div class="video-list">
    <div *ngFor="let video of videos" class="video-item">
      <div class="video-content">
        <h2>{{videoData[video]?.title}}</h2>
        <img [src]="videoData[video]?.thumbnail" alt="video thumbnail" />
        <button [disabled]="currentUser.voteCount <= 0" style="color: #e0e0e0 !important;" (click)="vote(video)">Vote for this video</button>
        <div class="progress-bar">
          <div [style.width.%]="getVotePercentage(video)*100" class="progress-bar-fill"></div>
        </div>
        {{getVotePercentage(video) | percent:'1.0-0'}}
      </div>
    </div>
  </div>
  <div #player class="player-container"></div>
  <div class="chat-container">
    <h2 class="chat-header">Canlı Sohbet</h2>
    <div class="chat-messages">
      <div *ngFor="let message of messages">
        {{ message }}
      </div>
    </div>
    <div class="chat-input">
      <form (submit)="sendMessage($event, chatMessageInput.value)">
        <input type="text" #chatMessageInput placeholder="Bir mesaj yazın..." />
        <button type="submit">Gönder</button>
      </form>
    </div>
    
  </div>
  
  
  
</div>






<!-- <button #playButton (click)="startVideo()">Videoyu oynat</button> -->



 <mat-form-field appearance="fill">
    <mat-label>VideoId</mat-label>
    <input matInput #txtVideoId>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <input matInput #txtGenre>
  </mat-form-field>
  
  <button mat-raised-button class="btn" color="primary" (click)="create( txtVideoId, txtGenre)">Create Song</button> 