<div class="container">
  <div class="login">
    <h1>Giriş Yap</h1>
    <div class="form-group">
      <label for="username"></label>
      <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Kullanıcı Adı & Email">
      <small class="form-text text-muted invalid-feedback">***</small>
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input #txtPassword type="password" class="form-control" id="password" placeholder="Şifre">
    </div>
    <a style="margin-top:25px; color: #0171d3; text-align: center; font-size: 14px;" routerLink="/password-reset"
      class="btn ">Şifremi Unuttum</a>
    <br />
    <div class="socialbutons">
    <button style="margin-top:5px; background: #ff8b39; color: azure;" type="submit" class="btn"
      (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Giriş Yap</button>
    </div>
    <div class="line"></div>
    <div class="socialbutons">

      <button class="exbuton button" (click)="facebookLogin()">Facebook ile giriş yap</button>
    </div>
    <div class="socialbutons">
      <asl-google-signin-button type="standard" size="large" shape="rectangular" width="400" theme="filled_black" logo_alignment="center">
      </asl-google-signin-button>
    </div>

  </div>
  



</div>
